@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap');

body {
  font-family: "Varela Round", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  box-sizing: border-box;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */

}


nav>a {
  text-decoration: none;
  font-weight: 500;
  color: #535bf2;
}

